*{
    padding: 0;
    margin: 0;
    position: relative;
   
}
.wrapper{
    background-image: linear-gradient(180deg, rgb(137, 243, 137), white);
    height: 300px;
   
}
.nav{
    display: flex;
    text-decoration: none;
}
ul li{
    display: inline;
    padding: 20px 15px;
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: rgb(235, 88, 113);
  
}
.port{
    font-size: 25px;
}
